/Components
/console.png
/desktop1.png
/desktop2.png
/desktop3.png
/desktop4.png
/Forms
/ipad1.png
/ipad2.png
/iphone1.png
/iphone2.png
/iphone3.png
/iphone4.png
/iphone5.png
/iphone6.png
/iphone7.png
/Layout
/{2024}{03}{18}-Tugas-PRETEST
/{2024}{03}{25}-SASS
/{2024}{03}{26}-Variabel-TipeData