/* Custom CSS */
body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  background-color: #E7CBCA; /* Warna pink ungu pastel */
}

.navbar-brand {
  font-size: 1.5rem;
  padding: 0;
}

.navbar-logo {
  max-height: 50px;
  margin-right: 10px;
}

.navbar-nav {
  margin-left: auto; 
}

/* Beranda */
#home {
  background-color: #ffc0cb; /* Warna pink pastel */
}

.jumbotron {
  background-image: url("https://via.placeholder.com/1500x500");
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Section */
.section {
  background-color: #ffff; /* Warna ungu pastel */
  padding: 50px 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 50px;
}

/* navbar section produk */
.nav-tabs {
  border-bottom: none; /* Hilangkan garis bawah default */
}

.nav-tabs .nav-item {
  margin-bottom: 10px; /* Jarak antara setiap tab */
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 3px solid #633842; /* Warna garis bawah aktif */
  margin-bottom: 0; /* Hilangkan jarak di bawah tab aktif */
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 2px solid transparent; /* Warna garis bawah non-aktif */
  margin-bottom: 0; /* Hilangkan jarak di bawah tab non-aktif */
}

/* Custom CSS for box */
.box {
  background-color: #E7CBCA;
  padding: 20px;
  margin-top: 20%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  border-radius: 10px; /* Menambahkan sudut bulat sebesar 10px */
}

.box img {
  max-width: 100%;
  height: auto;
}

.bunga {
  font-weight: bold;
  margin-top: 10px;
}

.harga {
  margin-top: 5px;
}

.garis {
  margin-top: 10px;
  border-top: 3px solid #000000;
}

.btn-beli {
  margin-top: 10px;
  padding: 5px 10px 5px; /* Atur padding untuk memperlebar tombol */
  background-color: #633842;
  color: #E7CBCA;
  transition: background-color 0.3s, color 0.3s; /* Transisi saat mengubah warna */
  display: inline-block; /* Mengubah tombol menjadi elemen inline-block */
  text-align: center; /* Pusatkan teks dalam tombol */
  width: calc(100% - 60px); /* Lebar hampir sama dengan garis di atasnya */
}

.btn-beli:hover {
  background-color: #99617A; /* Warna latar belakang saat dihover */
  color: #000000; /* Warna teks saat dihover */
}

/* Custom Best Seller */
.best {
  padding: 5%;
  background-color: #E7CBCA;
}

.boxbest {
  background-color: #C88EA7;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative; /* Menambahkan properti position */
}

.boxbest .image-container {
  width: 50%;
  padding-right: 20px;
  border-radius: 10px 0 0 10px;
}

.boxbest .info-container {
  width: 50%;
}

.boxbest img {
  max-width: 100%;
  height: auto;
}

.bunga {
  font-weight: bold;
  margin-top: 10px;
}

.harga {
  margin-top: 5px;
}

.garisbest {
  position: absolute; /* Menambahkan properti position */
  bottom: 68px; /* Menyesuaikan posisi garis */
  left: 50%; /* Menyesuaikan posisi garis */
  transform: translateX(1%); /* Menyesuaikan posisi garis */
  width: 46%; /* Menyesuaikan lebar garis */
  border-top: 3px solid #000000;
  margin-bottom: 10px;
}

.btn-belibest {
  padding: 1px 10px 1px; /* Atur padding untuk memperlebar tombol */
  height: auto;
  background-color: #E7CBCA;
  color: #633842;
  transition: background-color 0.3s, color 0.3s; /* Transisi saat mengubah warna */
  display: inline-block; /* Mengubah tombol menjadi elemen inline-block */
  text-align: center; /* Pusatkan teks dalam tombol */
  width: calc(100% - 60px); /* Lebar hampir sama dengan garis di atasnya */
}

.btn-belibest:hover {
  background-color: #99617A; /* Warna latar belakang saat dihover */
  color: #000000; /* Warna teks saat dihover */
}

/* Footer */
.footer {
  background-color: #d4a3ff; /* Warna pink ungu pastel */
  padding: 30px 0;
  text-align: center;
}